body{
	font-family: 'Roboto', sans-serif;
}
.screens-nav {
    z-index: 11;
}
.main-header>a {
    height: 50px;
    width: 170px;
}
.collect{
	position: absolute;
	float:left;
	left: 25%;
	width:400px;
	top: 50%;
}
.collect_head {
    float: left;
    width: 100%;
	color:#fff;
    font-size: 45px;
    text-align: left;
    font-weight: 100;
}
.sell_head {
    float: left;
    width: 100%;
	color:#fff;
    font-size: 45px;
    font-weight: 100;
}
#part-home .collect .pics-container {
	z-index:2;
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	will-change:transform
}
#part-home .collect .pics-container .pics {
	width:700px;
	height:530px;
	position:absolute;
	top:50%;
	left:50%;
	margin:-265px 0 0 -350px
}
#part-home .collect .pics-container .state-3-translate {
	height:100%;
	width:100%;
	will-change:transform;
	position:relative
}
#part-home .collect .pics-container .borders {
	/*border:20px solid #FFF;
	border-bottom-width:90px;*/
	height:200px;
	width:200px;
	position:relative;
	z-index:2
}
#part-home .collect .pics-container .pic {
	position:absolute;
	top:0;
	left:0;
	-webkit-transform-origin:50% 100%;
	transform-origin:50% 100%;
	-webkit-transform:scale(.5, .5);
	transform:scale(.5, .5);
	will-change:transform;
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
	-webkit-perspective:800px;
	perspective:800px;
	-webkit-transform-style:preserve-3d;
	transform-style:preserve-3d;
	z-index:1
}
#part-home .collect .pics-container .pic img {
	display:block;
	height:100%;
	width:100%
}
#part-home .collect .pics-container .pic .back {
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	padding:30px;
	box-sizing:border-box;
	background:#FFF;
	-webkit-transform:rotateY(180deg);
	transform:rotateY(180deg);
	z-index:1
}
#part-home .collect .pics-container .pic .text {
	position:relative;
	top:50%;
	-webkit-transform:translate3d(0, -50%, 0);
	transform:translate3d(0, -50%, 0);
	padding:0 30px;
	box-sizing:border-box
}
#part-home .collect .pics-container .pic .text p {
	font:600 20px/24px 'Vaud Display', Helvetica, sans-serif;
	clear:both
}
#part-home .collect .pics-container .pic .text strong {
	display:block;
	float:right;
	margin-top:20px;
	font:600 14px/15px 'Vaud Display', Helvetica, sans-serif
}
#part-home .collect .pics-container .pic .text strong:before {
	content:'';
	display:block;
	height:1px;
	width:15px;
	background:#9da2a8;
	float:left
}
#part-home .collect .pics-container .pic:nth-child(1) {
	top:150px;
	left:200px;
	opacity: 1;
    transform: translate3d(0, 500px, 0);
}
#part-home .collect .pics-container .pic:nth-child(2) {
	top:150px;
	left:200px;
	opacity: 1;
    transform: translate3d(0, 500px, 0);
}
#part-home .collect .pics-container .pic:nth-child(3) {
	top:150px;
	left:200px;
	opacity: 1;
    transform: translate3d(0, 500px, 0);
}
#part-home .collect .pics-container .pic:nth-child(4) {
	top:150px;
	left:200px;
	opacity: 1;
    transform: translate3d(0, 500px, 0);
}

#part-home .collect {
	transition:-webkit-transform 2000ms cubic-bezier(.19, 1, .22, 1) 0ms;
	transition:transform 2000ms cubic-bezier(.19, 1, .22, 1) 0ms;
	-webkit-transform:translate3d(0, 100%, 0);
	transform:translate3d(0, 100%, 0)
}

#part-home .collect .screen:nth-child(2).displayed .pics .pic:nth-child(1) {
    -webkit-transform: translate3d(-50px, 0, 0) rotate(0deg);
    transform: translate3d(-50px, 0, 0) rotate(0deg);
}


#part-home .screen:nth-child(2) .content {
   text-align:left;
   left:40%!important;
   padding:0!important;
}
.features_head{
	float:left;
	width:100%;
	text-align:left;
	color:#404040;
	font-size:45px;
	line-height: 45px;
	padding:0 0 20px 0;
	font-weight:300;
}
.headings{
	font-size:45px;
	line-height: 45px;
	font-weight:100;
}
.features_box{
	float:left;
	width:330px;
	padding:40px 0 0 0;
}
.features_box_2{
	float:left;
	width:330px;
	padding:40px 0 0 80px;
}
.features_cap{
	float:left;
	font-size:30px;
	width:100%;
	text-align:left;
	line-height: 30px;
	font-family: 'Roboto', sans-serif;
	font-weight:400;
}
.features_f1{
	float:left;
	width:40px;
	padding:0 10px 0 0;
}
.features_f2{
	float:left;
	width:20px;
	padding:0 10px 0 0;
}
.features_f3{
	float:left;
	width:32px;
	padding:0 10px 0 0;
}
.features_f4{
	float:left;
	width:30px;
	padding:0 10px 0 0;
}
.features_text{
	float:left;
	width:100%;
	font-size:15px;
	text-align:left;
	line-height:20px;
	padding:15px 0 0 0;
}
#part-home .screen:nth-child(5) {
    background: url('../img/slide5_bg.jpg') no-repeat;
	background-size:100%;
    z-index: 2;
}
#part-home .screen:nth-child(5) .content {
    z-index: 10;
    overflow: hidden;
    min-width: 1000px;
	height:100%;
    box-sizing: border-box;
    padding: 0;
    top: 50%;
}
#part-home .screen:nth-child(6) {
	background:#e54747;
}
#part-home .screen:nth-child(6) .content {
    z-index: 11;
    overflow: hidden;
    min-width: 100%;
	height:100%;
    box-sizing: border-box;
    padding: 0;
    top: 50%;
}
.get_start{
	float:left;
	padding:200px 0 0 0;
	width:300px;
	color:#fff;
}
.get_start_head{
	float:left;
	width:100%;
	font-size:45px;
	text-align:left;	
	font-weight:100;
}
.get_start_text{
	float:left;
	font-size:17px;
	padding:10px 0 0 0;
	text-align:left;
	font-weight:300;
}
.get_start_dd{
	float:left;
	padding:20px 0 0 0;
}
.get_start_dd a{
	color:#fff;
}
.get_start_dd a:hover{
	color:#f70f0f;
}
.get_start_dd span{
	float:right;
	line-height:90px;
}
.yellow{	
	width:350px;
	background:#fbf55e;
	padding:55px;
	position:absolute;
	bottom:30px;
	right:100px;
}
.yellow_cap{
	float:left;
	font-size:45px;
	width:100%;
	text-align:left;
	padding:0 0 10px 0;
	font-weight:100;
}
.yellow_text{
	float:left;
	font-size:16px;
	width:100%;
	text-align:left;
	font-weight:300;
}
.sell{
	float:left;
	text-align:left;
	color:#fff;
	font-size:42px;
	padding:100px 0 20px 65px;
}
 /*images*/
 
 .thumb_images{
	 float:left;
	 width:100%;
	 position:absolute;
	 bottom:0;
	 background:#000;
 }
 #rig {
    max-width:100%;
    margin:0 auto; /*center aligned*/
    padding:0;
    font-size:0; /* Remember to change it back to normal font size if have captions */
    list-style:none;
}
#rig li {
    display: inline-block;
    *display:inline;/*for IE6 - IE7*/
    width:33.33%;
    vertical-align:middle;
    box-sizing:border-box;
    margin:0;
    padding:0;
}
        
/* The wrapper for each item */
.rig-cell {
    /*margin:12px;
    box-shadow:0 0 6px rgba(0,0,0,0.3);*/
    display:block;
    position: relative;
    overflow:hidden;
}
        
/* If have the image layer */
.rig-img {
    display:block;
    width: 100%;
    height: auto;
    border:none;
    transform:scale(1);
    transition:all 1s;
}

#rig li:hover .rig-img {
    transform:scale(1.05);
}
        
/* If have the overlay layer */
.rig-overlay {
    position: absolute;
    display:block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: rgba(0, 0, 0, 0.70) url(img/link.png) no-repeat center 20%;
    background-size:50px 50px;
    opacity:0;
    filter:alpha(opacity=0);/*For IE6 - IE8*/
    transition:all 0.6s;
}
#rig li:hover .rig-overlay {
    opacity:0.8;
}

/* If have captions */
.rig-text {
    display:block;
    padding:0 30px;
    box-sizing:border-box;
    position:absolute;
    left:0;
    width:100%;
    text-align:center;
    text-transform:uppercase;
    font-size:26px;
    font-weight:bold;
    font-family: 'Oswald', sans-serif;
    font-weight:normal!important;
    top:50%;
    color:white;
    opacity:0;
    filter:alpha(opacity=0);/*For older IE*/
    transform:translateY(-20px);
    transition:all .3s;
	font-weight:normal;
}
.see_more{
	float:left;
	width:100%;
	font-size:20px;
	text-transform: capitalize;
}
#rig li:hover .rig-text {
    transform:translateY(0px);
    opacity:0.9;
}

@media (max-width: 9000px) {
    #rig li {
        width:33.33%;
    }
}

@media (max-width: 700px) {
    #rig li {
        width:33.33%;
    }
}

@media (max-width: 550px) {
    #rig li {
        width:50%;
    }
}